.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*NAV*/

.header-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.header-nav {
  justify-content: space-between;
  display: flex;
}

.nav-item {
  /*width: 50%;*/
  margin: 0 15px;
  list-style: none;
  font-size: 24px;
  padding: 8px;
  margin: 8px;
}

.nav-item:hover {
  background-color: darkgrey;
  border: 1px solid black;
}

/*HYPERTENSION*/

.hypertension-results-container,
.kidney-results-container {
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 16px auto;
  align-items: center;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 10px;
}


.hypertension-input,
.kidney-input{
  width: 90%;
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

.classification-input,
.classification,
.date-input,
.sys-bp-input,
.dia-bp-input {
  width: 50%;
}

.summaray-text-area {
  width: 100%;
  height: 100px;
  line-height: 16px;
}

.kidney-text-area {
  width: 100%;
  height: 300px;
  line-height: 16px;
}

.hypertension-classify-button {
  margin: 8px;
  border-radius: 8px;
  border: 1px solid black;
}


.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.orange-red {
  background-color: orangered;
}

.red {
  background-color: lightcoral;
}

.black {
  background-color: black;
  color: red;
}

.blue {
  background-color: lightblue;
}

.unknown {
  background-color: pink;
  border: 1px solid yellow;
}


@media only screen and (min-width: 400px) {
  .header-container {
    position: unset;
  }

  .hypertension-results-container,
  .kidney-results-container {
    /*position: unset;*/
    top: 8px;
  }
}